.body{
    color:#006A00;
    background-image:url("https://th.bing.com/th/id/R.c5d75eb8f086f6b58d0768ff490db3d3?rik=SqMTF5NdrpNM3w&riu=http%3a%2f%2f4.bp.blogspot.com%2f-MEcCwGxDxUI%2fUbAdGfzS3sI%2fAAAAAAAAAvs%2fgCk3mzb5c_g%2fs1600%2fDesktop%2bNexus%2bWallpapers%2bBackgrounds.jpg&ehk=PSdhZDTFldhnq1dNIcHjP2I3AvgwoOsdDCRJfhcaBn8%3d&risl=&pid=ImgRaw&r=0");
}
h1{
    text-align: center;
}
hr{
    width:50%;
    color: #006A00;
}
h3{
    margin-left: 39%;
}
h5{
    margin-left: 36%;

}
p{
    text-align: center;
    margin-left: 500px;
}
img{
    margin-left: 36%;
    height: 300px;
}
